<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="AIN DAO Text To Art" />
    <meta property="twitter:description" content="AIN DAO Text To Art" />
    <meta property="twitter:image" content="{{img_url}}" />
    <meta property="twitter:url" content="{{og_url}}" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="twitter_upload" />
    <meta property="og:title" content="AIN DAO Text To Art" />
    <meta property="og:description" content="AIN DAO Text To Art" />
    <meta property="og:image" content="{{img_url}}" />
    <meta property="og:url" content="{{og_url}}" />
</head>

<body>
    <div style="text-align:center">
        <img id="image" src="{{img_url}}" />
    </div>
</body>

</html>